<footer class="footer pt-4 pb-2">
    <div class="container text-center">
        <div class="row">
            <!-- Sección 1: Información de la empresa -->
            <div class="col-md-4" style="text-align: left;">
                <h5>SEGUT</h5>
                <a href="https://admin-segut.netlify.app" target="_blank">Administrador</a>
                <p>
                    Seguridat Total.
                    <br>
                    Contacto: contact&#64;segut.com
                </p>
            </div>
            <!-- Sección 2: Enlaces rápidos -->
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home" routerLinkActive="router-link-active" class=" text-decoration-none">Inicio</a></li>
                    <li><a routerLink="/nosotros" routerLinkActive="router-link-active" class=" text-decoration-none">Sobre Nosotros</a></li>
                    <li><a routerLink="/productos" routerLinkActive="router-link-active" class=" text-decoration-none">Política de Protección de Datos Personales</a></li>
                </ul>
            </div>
            <!-- Sección 3: Redes sociales -->
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <a href="https://www.facebook.com/profile.php?id=61570375378118" target="_blank" class="text-dark me-3">
                    <i class="fab fa-facebook fa-lg"></i>
                </a>
                <a href="https://x.com/Segutempresa" target="_blank" class="text-dark me-3">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="https://www.instagram.com/segutempresa/" target="_blank" class="text-dark me-3">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
                <a href="https://www.tiktok.com/@segutempresa" target="_blank" class="text-dark me-3">
                    <i class="fab fa-tiktok fa-lg"></i>
                </a>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p class="mb-0">&copy; 2024 SEGUT. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
