<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/home" routerLinkActive="router-link-active">
      <img [src]="logoUrl" alt="Logo" style="height: 80px; border-radius: 10px;" class="me-2" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="row container-fluid">
        <div class="col-sm-6 col-md-6 col-lg-12 menu-principal">
          <nav role="navigation" class="menu-principal col-md-auto block-menu navigation">
            <ul id="menu-incibe" class="navbar-nav sf-menu d-flex">
              <!-- Nuevo Menú Principal: SEGUT -->
              <li class="sf-depth-0 menuparent">
                <a  class="sf-depth-0" title="menores">SEGUT</a>
                <!-- Submenú de SEGUT -->
                <ul class="sf-hidden activo">
                  <li class="sf-depth-1"><a >Tu Ayuda en Ciberseguridad</a></li>
                  <li class="sf-depth-1"><a >Experiencia SEGUT</a></li>
                  <li class="sf-depth-1">
                    <a >Formación</a>
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a >MOOC</a></li>
                      <li class="sf-depth-2"><a >Catalogos de formación</a>
                      </li>
                    </ul>
                  </li>
                  <li class="sf-depth-1"><a >Programa Cibercooperantes</a></li>
                  <li class="sf-depth-1">
                    <a >Campañas</a>
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a >SEGUTBOT</a></li>
                      <li class="sf-depth-2"><a >Apreende Ciberseguridad </a>
                      </li>
                      <li class="sf-depth-2"><a >Hoy es un anuncio</a></li>
                      <li class="sf-depth-2"><a >Explora SEGUT</a></li>
                    </ul>
                  </li>
                  <li class="sf-depth-1 menuparent">
                    Información corporativa
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a >Que es SEGUT</a></li>
                      <li class="sf-depth-2"><a >Que Hacemos</a></li>
                      <li class="sf-depth-2"><a >Como Trabajamos</a></li>
                      <li class="sf-depth-2"><a >Con Quien Trabajamos</a></li>
                      <li class="sf-depth-2"><a >Transparencia</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- Nuevo Menú Principal: MENORES -->
              <li class="sf-depth-0 menuparent">
                <a  class="sf-depth-0" title="menores">MENORES</a>
                <!-- Submenú de MENORES -->
                <ul class="sf-hidden">
                  <li class="sf-depth-1"><a>Blog</a></li>
                  <li class="sf-depth-1"><a >Ciberconvivencia</a></li>
                  <li class="sf-depth-1"><a >Formación</a></li>
                  <li class="sf-depth-1"><a >Ciberseguridad</a></li>
                  <li class="sf-depth-1"><a >Familias</a></li>
                  <li class="sf-depth-1 menuparent">
                    Mediación parental
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a >Control parental</a></li>
                      <li class="sf-depth-2"><a >Alfabetización mediática</a>
                      </li>
                    </ul>
                  </li>
                  <li class="sf-depth-1"><a >Jóvenes</a></li>
                  <li class="sf-depth-1 menuparent">
                    Te ayudamos
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a >Preguntas frecuentes</a></li>
                      <li class="sf-depth-2"><a >Recursos</a></li>
                      <li class="sf-depth-2"><a >Vuelta al cole cibersegura</a></li>
                      <li class="sf-depth-2"><a >#StopAbusoMenores</a></li>
                      <li class="sf-depth-2"><a >Juguetes conectados</a></li>
                    </ul>
                  </li>
                  <li class="sf-depth-1 menuparent">
                    Convivencia y respeto
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a >Ciberacoso</a></li>
                      <li class="sf-depth-2"><a >Grooming</a></li>
                      <li class="sf-depth-2"><a >Uso excesivo de las TIC</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- Nuevo Menú Principal: EMPRESAS -->
              <li class="sf-depth-0 menuparent">
                <a class="sf-depth-0" title="menores">EMPRESAS</a>
                <!-- Submenú de EMPRESAS -->
                <ul class="sf-hidden">
                  <li class="sf-depth-1"><a >Blog</a></li>
                  <li class="sf-depth-1"><a >Avisos</a></li>
                  <li class="sf-depth-1 menuparent">
                    Publicaciones
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a >Bitácora</a></li>
                      <li class="sf-depth-2"><a  >Guias</a></li>
                    </ul>
                  </li>
                  <li class="sf-depth-1"><a   >Jóvenes</a></li>
                  <li class="sf-depth-1 menuparent">
                    INCIDENTES
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a   >Respuesta</a></li>
                      <li class="sf-depth-2"><a   >Notificacion</a></li>
                      <li class="sf-depth-2"><a   >Procedimiento</a></li>
                      <li class="sf-depth-2"><a   >Taxonomia</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- Nuevo Menú Principal: CIUDADANIA -->
              <li class="sf-depth-0 menuparent">
                <a    class="sf-depth-0" title="menores">CIUDADANIA</a>
                <!-- Submenú de EMPRESAS -->
                <ul class="sf-hidden">
                  <li class="sf-depth-1"><a   >Blog</a></li>
                  <li class="sf-depth-1"><a   >Avisos</a></li>
                  <li class="sf-depth-1 menuparent">
                    Publicaciones
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a   >Bitácora</a></li>
                      <li class="sf-depth-2"><a  >Guias</a></li>
                    </ul>
                  </li>
                  <li class="sf-depth-1"><a   >Jóvenes</a></li>
                  <li class="sf-depth-1 menuparent">
                    INCIDENTES
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a   >Respuesta</a></li>
                      <li class="sf-depth-2"><a   >Notificacion</a></li>
                      <li class="sf-depth-2"><a   >Procedimiento</a></li>
                      <li class="sf-depth-2"><a   >Taxonomia</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- Nuevo Menú Principal: SALUD MENTAL -->
              <li class="sf-depth-0 menuparent">
                <a    class="sf-depth-0" title="menores">SALUD MENTAL</a>
                <!-- Submenú de EMPRESAS -->
                <ul class="sf-hidden">
                  <li class="sf-depth-1"><a   >Blog</a></li>
                  <li class="sf-depth-1"><a   >Avisos</a></li>
                  <li class="sf-depth-1 menuparent">
                    Publicaciones
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a   >Bitácora</a></li>
                      <li class="sf-depth-2"><a  >Guias</a></li>
                    </ul>
                  </li>
                  <li class="sf-depth-1"><a   >Jóvenes</a></li>
                  <li class="sf-depth-1 menuparent">
                    INCIDENTES
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a   >Respuesta</a></li>
                      <li class="sf-depth-2"><a   >Notificacion</a></li>
                      <li class="sf-depth-2"><a   >Procedimiento</a></li>
                      <li class="sf-depth-2"><a   >Taxonomia</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- Nuevo Menú Principal: EVENTOS -->
              <li class="sf-depth-0 menuparent">
                <a    class="sf-depth-0" title="menores">EVENTOS</a>
                <!-- Submenú de EMPRESAS -->
                <ul class="sf-hidden">
                  <li class="sf-depth-1"><a   >Blog</a></li>
                  <li class="sf-depth-1"><a   >Avisos</a></li>
                  <li class="sf-depth-1 menuparent">
                    Publicaciones
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a   >Bitácora</a></li>
                      <li class="sf-depth-2"><a  >Guias</a></li>
                    </ul>
                  </li>
                  <li class="sf-depth-1"><a   >Jóvenes</a></li>
                  <li class="sf-depth-1 menuparent">
                    INCIDENTES
                    <ul class="sf-hidden">
                      <li class="sf-depth-2"><a   >Respuesta</a></li>
                      <li class="sf-depth-2"><a   >Notificacion</a></li>
                      <li class="sf-depth-2"><a   >Procedimiento</a></li>
                      <li class="sf-depth-2"><a   >Taxonomia</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</nav>